<!DOCTYPE html>
<html>
<head>
  <title>Lonely Hearts Animal Shelter</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/animals">Show all animals</a></li>
      <li><a href="/owners">Show all owners</a></li>
      <li><a href="/animals/new">Add an animal</a></li>
      <li><a href="/owners/new">Add an owner</a></li>
    </ul>
  </nav>
  <h1> Lonely Hearts Animal Shelter </h1>
  <%= yield %>
</body>
</html>